name: Terraform Apply (Main)
on:
  push:
    branches: [ main ]
    paths:
      - '**.tf'
      - 'website/**'

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.5.0

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -auto-approve